//
//  Breakpoints extension placeholder, please consider re-setting core values
//


@import 'core/breakpoints';

$large-screen: $CORE-large-screen;

$medium-screen: $CORE-medium-screen;

$small-screen: $CORE-small-screen;
