//
//  Zindexes extension placeholder
//


@import 'core/mixins';


@mixin clearfix() {
  &:after {
    content: '';
    display: table;
    clear: both;
  }
}

@mixin border-radius( $values ) {
  border-radius: $values;
  -webkit-border-radius: $values;
}
