//
//  Core colors variables needed in every project
//  NOTE: Consider ANY change (addition/removal) to this
//  file as an alert to check how these changes propagate
//
//  As this is a framework colors are JUST PLACEHOLDERS
//


$CORE-background-color: #fff;


$CORE-font-color: #333;


$CORE-primary-element-color: #0fe500;

$CORE-active-element-color: #0058e8;
$CORE-error-element-color: #e20d0d;
$CORE-warning-element-color: #d69a04;
$CORE-info-element-color: #00aeff;
