//
//  Cross app variables and settings
//  Use these variables to setup styling rules that
//  the design should also follow. Parameters below are
//  just an interpretation of what could be achieved.
//
//  Contents
//  --------------------------------------------
//
//  1. Interactive element percentages
//  2. Transparencies percentages
//  3. Elements behaviour, default values for elements (ex. default border-radius)
//



// 1. Interactive element percentages

// For any element that gets a focus
$focus-percentage-color-change: 5%;

// Clicked buttons
$active-percentage-color-change: 10%;



// 2. Transparencies percentages

$low-transparent-percentage: 0.85;

$mid-transparent-percentage: 0.6;

$high-transparent-percentage: 0.15;



// 3. Elements behaviour

$default-element-radius: 1px;
