//
//  Core zindexes variables needed in every project
//  NOTE: Consider ANY change (addition/removal) to this
//  file as an alert to check how these changes propagate
//
//


$zindex1: 10;

$zindex2: 20;

$zindex3: 30;

$zindex4: 40;

$zindex5: 50;

$zindexTop: 60;
